.booking-carousel .swiper-slide {
  text-align: center;
}
.booking-carousel .swiper-button-prev {
  top: 25px;
  border: 1px solid lightgray;
  border-radius: 50%;
  width: 3rem;
  left: 0;
}

.booking-carousel .swiper-button-prev::after {
  font-size: small;
}
.booking-carousel .swiper-button-next::after {
  font-size: small;
}
.booking-carousel .swiper-button-next {
  top: 25px;
  border: 1px solid lightgray;
  border-radius: 50%;
  width: 3rem;
  right: 0;
}
