.discounts-carousel .swiper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiperSlide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 10rem;
  width: 20rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.discounts-carousel .swiper-pagination {
  position: static;
  z-index: 20;
  margin-top: 3rem;
  width: 100%;
}

.inner1-active {
  width: 5px !important;
  height: 5px !important;
  background-color: #2aa7ff !important;
  border-radius: 50% !important;
  content: "" !important;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
